click==6.7
Flask==1.0.2
Flask-SocketIO==2.9.6
gunicorn==19.8.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.0
python-engineio==2.1.0
python-socketio==1.9.0
six==1.11.0
Werkzeug==0.14.1
yapf==0.22.0
requests==2.19.1
okta==0.0.4
